body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #181818;
    color: #e6e6e6;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#search-container {
    text-align: center;
    margin: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    text-align: center;
}

.hadith-card {
    background-color: #222;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #ffffff;
}

.hadith-card .hadith-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.8;
}

.hadith-card .hadith-info {
    font-size: 16px;
    color: #ccc;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hadith-card .hadith-info span {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
}

.hadith-card .hadith-info .label {
    font-weight: bold;
    color: #f5c518; /* Gold for labels */
}
